h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* *********** Navbar ************** */

.navbar{
    padding-bottom: 4.5rem;
    font-weight: bold;
}
.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link {
    font-size: 1.5rem;
    font-weight: normal;
}

/* *********** Title ************** */

.rotate {
  transform: rotate(25deg);
  width: 20%;
  position: absolute;
  right: 25%;
}
.dwn-btn{
    margin: 5% 3% 5% 0;
}

#title {
  /* background-color: #ff4c68; */
  color: white;
}
.container-fluid {
  padding: 3% 15% 7%;
}

/* *********** Features ************** */

#features{
    padding: 4.5rem;
    padding-top: 9rem;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
[data-bs-theme=dark] #features{
    background-color: #212529;
}
.feature-desc{
  color: #8f8f8f;
  font-size: 1.25rem ;
  padding: 0 15%;
}
.feature-head{
  font-family: "Montserrat";
  font-weight: bold;
}
.fa-solid{
  padding: 1.5rem;
  color: #ef8172;
}
.fa-solid:hover{
  color: #ff4c68;
}
/* ************************** Testimonials ********************************* */
#testimonials{
  text-align: center;
  /* background-color: #ef8172; */
  color: #fff;
}
.testimonial-text{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%;
}
/* ************************** Press ********************************** */
#press{
  /* background-color: #ef8172; */
  text-align: center;
  padding-bottom: 3%;
}
.press-icon{
  width: 15%;
  padding: 20px 20px 50px;
}
/**************************** Pricing ************************************** */
#pricing{
  text-align: center;
  padding: 100px;
}
.pr-col{
  padding: 3% 2% ;
}
@media (max-width: 1120px){
  #title{
    text-align: center;
  }
  .rotate{
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}
/* ************************** CTA ************************************** */
#cta{
  /* background-color: #ff4c68; */
  text-align: center;
  padding: 3rem;
}
.cta-text{
  color: #fff;
  padding: 0 20%;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
/******************* footer ********************* */
#footer{
  padding: 2%;
  text-align: center;
}
.slinks{
  padding: 1.5%;
  color: black;
}
.cp{
  color: #8f8f8f;
}
